@import url("https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

$font-b612: "B612", sans-serif;
$font-dosis: "Dosis", sans-serif;
$light-grey: #f9f9f9;
$primary-color: #ceb8aa;
$secondary-color: #935c87;
$text-color: #323232;

body {
  background-color: $light-grey;
  color: $text-color;
  line-height: 140%;
}

button {
  outline: none !important;
  border: none !important;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;

  .menu-toggler {
    background-color: $light-grey;
  }

  h4 {
    font: bold 24px/120% $font-dosis;
    letter-spacing: 1.5px;
  }

  .socials-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // background-color: salmon;
  }

  .socials {
    background-color: $primary-color;
    padding: 5px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font: bold 48px/120% $font-b612;
    color: $text-color;
  }

  p,
  button,
  .validation-message {
    font-family: $font-dosis;
    letter-spacing: 0.5px;
    color: $text-color;
    text-align: center;
  }
}
