@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
$font-dosis: "Dosis", sans-serif;
$light-grey: #f9f9f9;
$white: #fdfdfd;
$focus-color: hsl(0, 88%, 74%);
$primary-color: #ceb8aa;
$secondary-color: #935c87;
$text-color: #323232;
body {
  background-color: $light-grey;
  color: $text-color;
  line-height: 140%;
  font: normal 18px/120% $font-dosis;
  text-align: center;
  padding-top: 2em;

  .wrapper {
    margin: 0 auto;
  }
  h1 {
    font: bold 24px/120% Georgia, serif;
  }
  input[type="text"] {
    height: 2.2em;
    width: 300px;
    max-width: 100%;
    font: normal 16px/120% $font-dosis;
    padding: 10px;
    color: $text-color;
    border: 2px solid $text-color;
    border-radius: 5px;
    outline: none;
    margin: 0 1em;

    &::placeholder {
      color: $text-color;
      font-size: 15px;
    }
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  form,
  .result {
    padding: 2em;
  }
  button {
    outline: none !important;
    border: none !important;
    text-align: center;
    background-color: $secondary-color;
    color: $white;
    height: 35px;
    width: 100px;
    outline: none;
    border: 2px solid #353131;
    border-radius: 5px;
    letter-spacing: 0.5px;

    &:hover {
      transform: scale(0.95);
      cursor: pointer;
    }
  }
  .result {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    overflow-x: hidden;

    .response {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1em;
      width: 100%;
      font-size: 16px;
      border: 2px solid $secondary-color;
      border-radius: 5px;
      transition: transform 600ms ease-in-out;

      .long-link {
        color: #888888;
        overflow: hidden;
        word-wrap: break-word;
        white-space: pre;
        text-overflow: ellipsis;
      }

      .row-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        align-items: center;

        .short-link {
          padding: 0 1em;
        }
      }
    }

    .clearfix {
      clear: both;
    }
  }

}

@media only screen and (max-width: 426px) {
  form,
  .result {
    padding: 1em;
  }
}
